<!doctype html>
<html>
  <head>
    <title>Purple Penguin Paints</title>
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
    	<script src="js/bootstrap.min.js"></script>
  </head>
  	<body>
  		<div class="container">
  			<div class="row">
    			<div class="col-md-4"><p>"Everyone has the ability to paint the canvas of their own lives, all they need is the help of a brush and some paints." Purple Penguin Paints holds classes for people who want to express themselves through brush strokes.</p></div>
    			<div class="col-md-8"><img class="img-responsive" src="desk.jpg" alt="desk" height="502" width="500"></div>
    		</div>
    	</div>
  	</body>
</html>