<!doctype html>
<html>
  <head>
    <title>Emerald Clover Crafting</title>
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
    	<script src="js/bootstrap.min.js"></script>
  </head>
  	<body>
  		<div class="container">
    		<p>"To create is to add meaning to a life that would be dull otherwise." Here at Emerald Clover Crafting, we teach how to create diy products for the avid crafter.</p>
    		<img src="desk.jpg" alt="desk" height="502" width="500">
    	</div>
  	</body>
</html>