        <div class="row">
    		<div class="col-md-8"><p>"Stitching puts life back together with flawless seams." Sapphire Sky Sewing teaches people the very handy ability to repair and create with sewing techniques.</p></div>
    			<div class="col-md-4"><img class="img-responsive" src="images/desk.jpg" alt="desk" height="502" width="500"></div>
				<% @pictures.each do |pic| %>
  					<a href="<%= pic.source_url %>" title="This cat with a hat is brought to you by The Cat API">
   						<img src="<%= pic.url %>">
  					</a>
				<% end %>
    	</div>
