
    	<h1>Current Holidays</h1>
   		<% @holidays.each do |holiday| %>
    		<p><%= holiday[0]['name'] %></p>
    	<% end %>

    	<h2>Birthday Holidays</h2>
    	<% @birthdayHolidays.each do |holiday| %>
    		<p><%= holiday[0]['name'] %></p>
    	<% end %>