        <div class="row">
    		<div class="col-md-8"><p>"To create is to add meaning to a life that would be dull otherwise." Here at Emerald Clover Crafting, we teach how to create diy products for the avid crafter.</p></div>
    			<div class="col-md-4"><img class="img-responsive" src="images/desk.jpg" alt="desk" height="502" width="500"></div>
    	</div>
