<!doctype html>
<html>
  <head>
    <title>Emerald Clover Crafting</title>
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css">
    	<script src="js/bootstrap.min.js"></script>
  </head>
  	<body>
  		<div class="container">

          <%= yield %>

    	</div>
  	</body>
</html>